.header-menu {
  background-color: #3498db;
  padding: 1rem;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header-menu li {
  display: inline;
  margin-right: 1rem;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.login-button a {
  background-color: #2ecc71;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button a:hover {
  background-color: #27ae60;
}
