body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grades-container {
  display: flex;
}

.grade-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 15px;
  width: 1px;
  background-color: #000;
  margin: 0 5px;
}
